html{
	width: 100%;
	height: 0%;
}

html, body {
	width: 100%;
	height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(190, 185, 190), rgb(169, 191, 194));
	/*! background-image: url(http://i.imgur.com/X2bL5SX.png); */ 
	font-family: Merriweather,'Helvetica Neue',Arial,sans-serif;
}

h2{
	font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
	color: #444;
	font-weight: 600;
}

h1{
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #444;
    padding: 0px;
    margin-bottom: 20px;
}

input,
input::-webkit-input-placeholder {
    font-size: 11px;
    padding-top: 3px;
}

hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

hr.light {
    border-color: #fff;
}

.register{
	color: #2B859C;
	font-family:'Open Sans';
	font-size: 15px;
}

.wrapper {
	padding-top: 4%;
	margin-top: 0 auto;
}

.logo{
	margin-bottom: 0px;	
}

.wrapper .logo img{
	width: 200px;
	heigth: 200px;
	margin: 0 auto;
}

.form-signin {
	max-width: 420px;
	padding: 15px 35px 45px;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 1em;
	border: 1px solid rgba(0, 0, 0, 0.1);
	
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
	@
	include
	box-sizing(border-box);
	&:
	focus
	{
	z-index
	:
	2;
}

}

.form-group{
	margin-bottom: 15px;
}
	
.form-group label{
	font-family: 'Open Sans', sans-serif;
	text-align: left;
}
.input-group{
	margin-bottom:10px;
}

input[type="text"] {
	margin-bottom: -1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

input[type="password"] {
	margin-bottom: 20px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}